@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
  width: 0.3rem;
  background-color: #14213d;
}

::-webkit-scrollbar-thumb{
  background-color: #e63946;
}

body{
  background: rgba(6, 7, 15, 0.938);
  color: white;
}

.main{
  /* background-color: aqua !important; */
  width: 80%;
  margin-left: 18.5%;
}

@media screen and (max-width: 1050px){
  .main{
    margin-left: 1.5%;
    width: 97%;
  }
}
